{% extends 'back.html.twig' %}

{% block content %}
<center>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Voici les données de la reunion N:° : {{ reunion.id }}</strong>
            </div>
            <div class="card-body">
                <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reunion.id }}</td>
            </tr>
            <tr>
                <th>Idenseignant</th>
                <td>{{ reunion.idEnseignant.id }}</td>
            </tr>
            <tr>
                <th>Idsalle</th>
                <td>{{ reunion.idSalle.id }}</td>
            </tr>
            <tr>
                <th>Idclasse</th>
                <td>{{ reunion.idclasse.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if reunion.date %}{{ reunion.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

                <center>
                    <ul style="list-style-type: none;">
                        <br>

                        <li >
                            {{ form_start(delete_form) }}
                            <a href="{{ path('reunion_index') }}" class="btn btn-outline-secondary" >Retour à la liste</a>

                            <a href="{{ path('reunion_edit', { 'id': reunion.id }) }}" class="btn btn-outline-warning" >Modifier</a>


                            <input type="submit" value="Supprimer" class="btn btn-outline-danger">
                            {{ form_end(delete_form) }}
                        </li>

                    </ul>
                </center>
            </div></div></div></center>
{% endblock %}