{% extends 'back.html.twig' %}

{% block content %}
    <center>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Voici les données d Affectation N:° : {{ affectation.id }}</strong>
                </div>
                <div class="card-body">
                    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ affectation.id }}</td>
            </tr>
            <tr>
                <th>Nomclasse</th>
                <td>{{ affectation.nomClasse.niveau  }}</td>
            </tr>
            <tr>
                <th>Dsalle</th>
                <td>{{ affectation.idSalle.id  }}</td>
            </tr>
            <tr>
                <th>Nommat</th>
                <td>{{ affectation.nomMat.nomMatiere }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if affectation.date %}{{ affectation.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Heure</th>
                <td>{{ affectation.heure }}</td>
            </tr>
        </tbody>
    </table>

    <center>
        <ul style="list-style-type: none;">
            <br>

            <li >
                {{ form_start(delete_form) }}
                <a href="{{ path('affectation_index') }}" class="btn btn-outline-secondary" >Retour à la liste</a>

                <a href="{{ path('affectation_edit', { 'id': affectation.id }) }}" class="btn btn-outline-warning" >Modifier</a>


                <input type="submit" value="Supprimer" class="btn btn-outline-danger">
                {{ form_end(delete_form) }}
            </li>

        </ul>
    </center>
    </div></div></div></center>
{% endblock %}
