{% extends 'back.html.twig' %}

{% block content %}
<center>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Voici les données de club N:° : {{ club.id }}</strong>
            </div>
            <div class="card-body">
                <table class="table">

                <tbody>
            <tr>
                <th>Id</th>
                <td>{{ club.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ club.nom }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ club.type }}</td>
            </tr>
        </tbody>
    </table>

                <center>
                    <ul style="list-style-type: none;">
                        <br>

                        <li >
                            {{ form_start(delete_form) }}
                            <a href="{{ path('club_index') }}" class="btn btn-outline-secondary" >Retour à la liste</a>

                            <a href="{{ path('club_edit', { 'id': club.id }) }}" class="btn btn-outline-warning" >Modifier</a>


                            <input type="submit" value="Supprimer" class="btn btn-outline-danger">
                            {{ form_end(delete_form) }}
                        </li>

                    </ul>
                </center>
            </div></div></div></center>
{% endblock %}
