{% extends 'back.html.twig' %}

  {% block content %}

      <div class="breadcrumbs">
          <div class="breadcrumbs-inner">
              <div class="row m-0">
                  <div class="col-sm-4">
                      <div class="page-header float-left">
                          <div class="page-title">
                              <h1>Dashboard</h1>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-8">
                      <div class="page-header float-right">
                          <div class="page-title">
                              <ol class="breadcrumb text-right">
                                  <li><a href="#">Dashboard</a></li>
                                  <li><a href="#">Table</a></li>
                                  <li class="active">Liste des Salles</li>
                              </ol>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="content">
          <div class="animated fadeIn">
              <div class="row">

                  <div class="col-md-12">
                      <div class="card">
                          <div class="card-header">
                              <strong class="card-title">Liste des Salle</strong>
                          </div>
                          <div class="card-body">
                              <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                  <thead>
            <tr>
                <th>Id</th>
                <th>Capacite</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salle in salles %}
            <tr>
                <td><a href="{{ path('salle_show', { 'id': salle.id }) }}">{{ salle.id }}</a></td>
                <td>{{ salle.capacite }}</td>
                <td>
                    <ul style="list-style-type: none;">
                        <li>
                            <a href="{{ path('salle_show', { 'id': salle.id }) }}" class="btn btn-primary btn-sm">Consulter</a>
                            <a href="{{ path('salle_edit', { 'id': salle.id }) }}" class="btn btn-success btn-sm">Modifier</a>
                        </li>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <center>
        <ul style="list-style-type: none;">
            <li>
                <a href="{{ path('salle_new') }}" class="btn btn-outline-primary btn-lg btn-block" style="width: 30%">Créer une nouvelle salle</a>
            </li>
        </ul>
    </center>
    </div>
    </div>
    </div>


    </div>
    </div><!-- .animated -->
    </div><!-- .content -->

{% endblock %}
