{% extends 'back.html.twig' %}

{% block content %}
    <center>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Voici les données de l'absence N:° : {{ absence.id }}</strong>
                </div>
                <div class="card-body">
                    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ absence.id }}</td>
            </tr>
            <tr>
                <th>Dateabsence</th>
                <td>{% if absence.dateAbsence %}{{ absence.dateAbsence|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Idmatiere</th>
                <td>{{ absence.idMatiere.id }}</td>
            </tr>
            <tr>
                <th>Nomeleve</th>
                <td>{{ absence.nomEleve.nom }}</td>
            </tr>
        </tbody>
    </table>

    <center>
        <ul style="list-style-type: none;">
            <br>
            <li>
                {{ form_start(delete_form) }}
                <a href="{{ path('absence_index') }}" class="btn btn-outline-secondary" >Retour à la liste</a>
                <a href="{{ path('absence_edit', { 'id': absence.id }) }}" class="btn btn-outline-warning" >Modifier</a>
                <input type="submit" value="Supprimer" class="btn btn-outline-danger">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </center>
    </div></div></div></center>
{% endblock %}
