{% extends 'back.html.twig' %}

{% block content %}
<center>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Voici les données de le condidat N:° : {{ condidat.cin }}</strong>
            </div>
            <div class="card-body">
                <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ condidat.cin }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ condidat.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ condidat.prenom }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ condidat.age }}</td>
            </tr>
            <tr>
                <th>Experienceondidat</th>
                <td>{{ condidat.experienceCondidat }}</td>
            </tr>
        </tbody>
    </table>

                <center>
                    <ul style="list-style-type: none;">
                        <br>

                        <li >
                            {{ form_start(delete_form) }}
                            <a href="{{ path('condidat_index') }}" class="btn btn-outline-secondary" >Retour à la liste</a>
                            <input type="submit" value="Supprimer" class="btn btn-outline-danger">
                            {{ form_end(delete_form) }}
                        </li>

                    </ul>
                </center>
            </div></div></div></center>
{% endblock %}