{% extends 'back.html.twig' %}

{% block content %}
    <center>
        <div class="col-lg-6">

            <div class="card">
                <div class="card-header">
                    <strong>modifier un evenement</strong>
                </div>
                <div class="card-body card-block">

                    {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                    <br>

                    <input type="submit" value="Modifier" class="btn btn-warning btn-lg btn-block"  />
                    {{ form_end(edit_form) }}

                    <center>
                        <br>
                        <ul style="list-style-type: none;">
                            <li>
                                {{ form_start(delete_form) }}
                                <a href="{{ path('evenement_index') }}" class="btn btn-outline-secondary">Retour à la liste</a>
                                <input type="submit" value="Supprimer" class="btn btn-outline-danger">
                                {{ form_end(delete_form) }}
                            </li>
                        </ul>
                    </center>
                </div>
            </div>
        </div>
    </center>
{% endblock %}